{% extends 'usuario/base.html' %}

{% block conteudo %}

<h2>Atendimento Médico</h2>

<p><strong>Paciente:</strong> {{ atendimento.triagem.paciente.nome }}</p>
<p><strong>Queixa:</strong> {{ atendimento.triagem.queixa }}</p>

<hr>

<form method="POST">
    {% csrf_token %}

    <textarea name="diagnostico" class="form-control mb-2" placeholder="Diagnóstico"></textarea>
    <textarea name="prescricao" class="form-control mb-3" placeholder="Prescrição"></textarea>

    <button name="acao" value="internacao" class="btn btn-danger">
        🏥 Internação
    </button>

    <button name="acao" value="medicacao" class="btn btn-warning">
        💊 Medicação
    </button>

    <button name="acao" value="alta" class="btn btn-success">
        🏠 Alta
    </button>
    <button name="acao" value="dispensar" class="btn btn-secondary">
    🚶 Dispensar
</button>
</form>

{% endblock %}