{% extends 'usuario/base.html' %}

{% block conteudo %}

<h2>Fila do Médico</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Prioridade</th>
            <th>Queixa</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        {% for t in triagens %}
        <tr>
            <td>{{ t.paciente.nome }}</td>
            <td>{{ t.prioridade }}</td>
            <td>{{ t.queixa }}</td>
            <td>
                <a class="btn btn-primary"
                   href="{% url 'iniciar_atendimento' t.id %}">
                   Atender
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}