{% extends 'usuario/base.html' %}

{% block conteudo %}

<h2 class="mb-4">Dashboard enfermeiro</h2>

<div class="row">

    <!-- 👋 BOAS VINDAS -->
    <div class="col-md-12 mb-3">
        <div class="card shadow p-3">
            <h4>Bem-vindo, {{ request.user.username }} 👋</h4>
            <p>Área de atendimento, cadastro e organização da fila</p>
        </div>
    </div>

   

  

    <!-- 🩺 TRIAGEM -->
    <div class="col-md-4 mb-3">
        <div class="card shadow p-3 text-center">
            <h5>Triagem</h5>
            <a href="{% url 'fila_triagem' %}" class="btn btn-danger mt-2">
                Ir para Triagem
            </a>
        </div>
    </div>


   

</div>

{% endblock %}