<table class="table">
    <tr>
        <th>Paciente</th>
        <th>Queixa</th>
        <th>Ação</th>
    </tr>

    {% for triagem in triagens %}
    <tr>
        <td>{{ triagem.paciente.nome }}</td>
        <td>{{ triagem.queixa }}</td>
        <td>
            <a href="{% url 'iniciar_atendimento' triagem.id %}" class="btn btn-primary">
                Atender
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum paciente na fila</td>
    </tr>
    {% endfor %}
</table>